.profileUpdatePage {
  height: 100%;
  display: flex;

  .formContainer {
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
    
    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1{
        color:rgb(11, 94, 100);font-size:40px
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
          color:rgb(97, 146, 150);font-weight:500;
        }

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition:all 0.4s;
        
        &:hover{
          border-bottom:4px solid rgb(5, 70, 75);
        }
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #094d5e;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .avatar{
      width: 50%;
      object-fit: cover;
    }
  }
}